In [1]:
import numpy as np
import pandas as pd
import random
import datetime

In [2]:
from transparentai.datasets import load_adult
from transparentai import utils
from transparentai.datasets import variable

In [3]:
data = load_adult()

In [4]:
def generate_birthdate(age):
    month = random.randint(1,12)
    day = random.randint(1,28)
    year = 2020 - age
    return datetime.date(year, month, day)

data['birthdate'] = data['age'].apply(generate_birthdate)
data = data.replace('?',np.nan)

In [5]:
data.sample(4)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,birthdate
26230,26,Private,137678,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K,1994-03-20
32928,49,Private,133917,Assoc-voc,11,Never-married,Sales,Other-relative,Black,Male,0,0,40,NaN,<=50K,1971-02-11
14717,59,Self-emp-inc,145574,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,1961-04-10
997,22,Private,152328,Some-college,10,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K,1998-06-11

In [6]:
desc = {}
for col in data.columns:
    var = data[col]
    desc[col] = variable.describe(var)

In [8]:
desc['age']

{'valid values': 48842,
 'missing values': 0,
 'mean': 38.6436,
 'mode': 36,
 'min': 17,
 'quantile 25%': 28.0,
 'quantile 50%': 37.0,
 'quantile 75%': 48.0,
 'max': 90}

In [20]:
print(utils.find_dtype([1,2]),'number')
print(utils.find_dtype(['1','2']),'number')
print(utils.find_dtype([datetime.date(1958,5,12),datetime.date(1980,12,12)]),'datetime')
print(utils.find_dtype(['blabla','2']),'object')
print(utils.find_dtype(pd.DataFrame([1,2])),'number')
print(utils.find_dtype(pd.Series(['1','2'])),'number')
print(utils.find_dtype(pd.Series([datetime.date(1958,5,12),datetime.date(1980,12,12)])),'datetime')
print(utils.find_dtype(pd.DataFrame(['blabla','2'])),'object')

number number
number number
datetime datetime
object object
number number
number number
datetime datetime
object object

In [ ]:
self.assertRaises(TypeError, utils.find_dtype(1))
self.assertRaises(TypeError, utils.find_dtype('1'))
self.assertRaises(TypeError, utils.find_dtype({'test':1}))